RAILS_ENV=development
RAILS_MAX_THREADS=5
RAILS_LOG_LEVEL=debug

BACKEND_DATABASE_HOST=localhost
BACKEND_DATABASE_PORT=5432
BACKEND_DATABASE_NAME=task_manager_development
BACKEND_TEST_DATABASE_NAME=task_manager_test
BACKEND_DATABASE_USERNAME=task_manager
BACKEND_DATABASE_PASSWORD=task_manager

RAILS_MASTER_KEY=
